extend ../layouts/special

append variables
	- var kicker= '';
	- var kicker_link= '';
	- var section= '';
	- var title= '';
	- var lead= '';
	- var description= '';
	- var url= 'https://arte.folha.uol.com.br/';
	- var chan= '';
	- var share_title= title + '-' + section;
	- var share_type= 'article';
	- var share_image= url + 'images/social.jpg';
	- var share_description= description || lead;

block content
	#app
