extend ../layouts/special

append variables
	- var title= 'Cronofobia';
	- var lead= 'Zines e mais';
	- var description= 'Zines e mais';
	- var url= 'www.cronofobia.com';
	- var share_title= title + '-' + lead;
	- var share_type= 'article';
	- var share_image= url + 'images/social.jpg';
	- var share_description= description || lead;

block content
	#app
