@import	'./components/variables.styl'
@import	'./components/rupture.styl'

// Base (body, html)
@import	'./components/base.styl'

// definições gerais e grid
@import	'./components/general.styl'

// p, h1, fonts, etct
@import './components/type.styl'

// inputs e buttons
@import './components/form.styl'

// mailchimp
@import	'./components/mailchimp.styl'

// abertura
@import	'./components/opening.styl'

// loja
@import	'./components/store.styl'
