.cart
	.prod
		border-bottom: 1px solid $black
		padding-bottom: 10px
		margin-bottom: 20px
		h3
			margin: 0
		p
			display: inline-block
			margin: 0
			span
				font-weight: $bold
	.cart_total
		font-weight: $bold
