.main
	margin 30px
	display: grid
	grid-template-columns: 1fr 4fr
	grid-column-gap: 50px

.left_container,
.storefront,
.cart
	padding: 30px
	border 1px solid $black
	border-radius: 5px

.left
	img
		max-width: 270px

.cart
	min-width: 330px
