.opening
	width: 280px
	position fixed
	left: 30px
	img
		max-width: 270px

	.print-info
		margin-top: 50px

	figure
		margin: 50px 0 0 0
		width: 100%
		img
			min-height: 218px
			background-color: black
			width: 100%
			height: auto
