@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,500,500i');

$font = "Fira Sans Extra Condensed", Arial, Helvetica, sans-serif

$black = #333
$white = #fff
// $bg = snow
$bg = $white
$border = lighten($black, 50)
$lwhite = darken($white, 60)
$regular = 300
$bold = 500

* { box-sizing: border-box; }
