@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,300i,400,400i,700,700i');


/* Font variable */
:root {
  --font: "Averia Sans Libre";
}

html, body {
  background-color: #333;
  color: white;
  font-family: var(--font), Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
  max-width: 700px;
  margin: 0 auto
}

.main {
  margin: 0 10px 10px 10px
}

em {
  font-weight: 700;
  font-size: 1.2em;
}

small {
  font-size: .8em;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: .4em;
}

.lead {
  margin: 0 0 2em 0;
  font-style: italic;
}

p {
  font-size: 1.3em;
}

.opening {
  margin-bottom: 60px;
}

#mc_embed_signup form {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
}